<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Initialization for DriverManagerDataSource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/eatogodb?useUnicode=true&amp;characterEncoding=utf8&amp;verifyServerCertificate=false&amp;useSSL=true" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<!-- DAOs -->
	<bean id="userJDBCDS" class="_01_authentication.model.UserDao">
		<constructor-arg ref="dataSource"/>
	</bean>
	<bean id="autenticateJDBCDS" class="_01_authentication.model.AuthenticateDao">
		<constructor-arg ref="dataSource"/>
	</bean>
	<bean id="findFoodJDBCDS" class="_02_recommendation.model.FindFoodDao">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="storeJDBCDS" class="_07_storeInterface.model.StoreDao">
		<constructor-arg ref="dataSource"/>
	</bean>

</beans>
